.Rproj.user
.Rhistory
.RData
.Ruserdata
_site
aisurvey_web.Rproj
data
analysis_poverty_desciptive.html
analysis_poverty_desciptive_files
analysis_trust_desciptive_files
codebook_2015_cache
codebook_merge_cache
simo1.R
site_libs
analysis_poverty_desciptive_cache
analysis_spatial_visualisations.html
analysis_spatial_visualisations_cache
analysis_spatial_visualisations_files
analysis_trust_desciptive.html
analysis_trust_desciptive_cache
codebook_2015.knit.md
codebook_2015.utf8.md
codebook_2015_varlist_cache
manipulate_class_variables_cache
manipulate_class_variables_files
viz_cache
viz_files
byroo
run.R
sdmr_analysis.Rproj
aisurvey.Rproj
gitlogs_sdmr_analysis.txt
